.clear{
  clear: both;
}


#title{
  font-family: "Orbitron";
  font-size: 200%;
  text-shadow: 2px 1px blue;
  padding: 60px 0px 20px 20px;
  min-width: 600px;
}

/*The container with the main content divs of the site*/
#contentBox{
  width: 95%;
  min-width: 290px;
  margin:15px 5px 0 5px;
  justify-content: center;
  min-height: 1000px;
}

#contentBox > p{
  font-family: "Ubuntu";
  font-size: 110%;
  color: black;
  text-align: justify;
  text-indent: 40px;
}


.contactMode{
  max-height: 360px;
  min-height: 170px;
  border-radius: 5px;
  width: 80%;
  min-width: 160px;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
  box-shadow: 3px 2px 3px black;
}
.contactModeP{
  font-family: "Economica", Arial, sans-serif;
  font-size: 130%;
}
.contactMode h2{
  font-family: "Economica", Arial, sans-serif;
  font-size: 120%;
}
.contactMode button{
  position: relative;
}

#contactModeTalk{
  background: linear-gradient(rgb(180, 240, 250), rgb(100, 180, 180));
  border: 2px solid rgb(100, 120, 240);
}
#contactModeOffer{
  background: linear-gradient(rgb(250, 210, 180), rgb(190, 130, 120));
  border: 2px solid rgb(255, 110, 110);

}
#contactModeAsk{
  background: linear-gradient(rgb(180, 250, 170), rgb(120, 200, 110));
  border: 2px solid green;
  clear: right;
}

#contactCommunity{
  font-family: "Economica";
  max-height: 250px;
  min-height: 120px;
  width: 100%;
  border: 2px solid yellow;
  border-radius: 5px;
  background: linear-gradient(rgb(230, 240, 140), rgb(180, 200, 100));
  text-align: center;
  padding: 10px 20px;
  margin: 20px auto;
  box-shadow: 3px 2px 3px black;
  display: block;
}
#contactCommunity h2{
  font-size: 130%;
}
#contactCommunity p{
  font-size: 120%;
}
#buttonCommunity{
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}

/*Text Span in howToHelp.html*/
.globeTrekSpan{
  color: blue;
  cursor: pointer;
}
