@media only screen and (min-width: 901px)
{
    #navBar{
      background-image: url("../../mats/barImgs/large/path19l.jpg");
    }

}

@media only screen and (min-width: 501px) and (max-width: 900px)
{
    #navBar{
      background-image: url("../../mats/barImgs/medium/path19m.jpg");
    }

}

@media only screen and (max-width: 500px)
{
    #navBar{
      background-image: url("../../mats/barImgs/small/path19s.jpg");
    }

}
